.SearchResultsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  max-width: 55%;
}

.ResultsContainer {
  max-height: 30rem;
  overflow: scroll;
}

.SearchResultsWrapper hr {
  display: block;
  height: 1px;
  width: 100%;
  border: 0;
  border-top: 1px solid var(--accent);
  margin: 1em 0;
  padding: 0;
}

.ResultsTitle {
  margin: 1rem;
  padding: 0.5rem 0.5rem 0 0.5rem;
  vertical-align: middle;
}

.EmptyResults {
  font-size: 1.2rem;
  margin: 2rem;
  color: hsla(135, 20%, 96%, 0.5);
}

@media (max-width: 1280px) {
  .SearchResultsWrapper {
    margin-bottom: 5rem;
  }
}
