.SongContainer {
  display: flex;
  justify-content: space-between;
}

.Song {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  vertical-align: middle;
  padding: 0.5rem;
}

.SongInfo {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  justify-content: center;
  vertical-align: middle;
}

.SongTitle {
  font-size: 1.2rem;
  vertical-align: middle;
  max-width: 15rem;
  overflow: hidden;
}

.SongArtist {
  vertical-align: middle;
  font-size: 1rem;
}

.AlbumCover {
  height: 64px;
  width: 64px;
  vertical-align: middle;
}

.ButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  margin-left: 2rem;
}

.AddBtn {
  background-color: var(--primary);
  padding: 0.4rem;
  border-radius: 50%;
  transition: all 0.5s;
}

.AddBtn:hover {
  background-color: var(--accent);
}

.Checked {
  background: none;
  padding: 0.4rem;
  border-radius: 50%;
  border: 1px solid var(--primary);
  transition: all 0.5s;
}

.AlbumArt {
  height: 64px;
  width: 64px;
  border-radius: 5px;
  border: none;
}
