.PlaylistWrapper hr {
  display: block;
  height: 1px;
  width: 100%;
  border: 0;
  border-top: 1px solid var(--accent);
  margin: 1em 0;
  padding: 0;
}

.PlaylistWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  max-width: 50%;
}

.PlaylistTitle {
  margin: 1rem;
  vertical-align: middle;
}

.SaveToSpotify {
  background-color: var(--primary);
  padding: 1rem 2rem;
  margin: 1rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 30px;
  transition: all 0.5s;
}

.SaveToSpotify:hover,
.SubmitName:hover {
  background-color: var(--accent);
}

.PlaylistNameInput {
  padding: 0.5rem;
  margin: 1rem 2rem 1rem 1rem;
  border: none;
  border-bottom: 2px solid var(--accent);
  outline: none;
  background: none;
  font-size: 1rem;
  color: var(--text);
}

.SubmitName {
  padding: 1rem;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: var(--primary);
  cursor: pointer;
  transition: all 0.5s;
  font-weight: 500;
  font-size: 1rem;
}
