.PlaylistWrapper hr {
  display: block;
  height: 1px;
  width: 100%;
  border: 0;
  border-top: 1px solid var(--accent);
  margin: 1em 0;
  padding: 0;
}

.PlaylistWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  max-width: 50%;
}

.PlaylistContainer {
  max-height: 24.5rem;
  overflow: scroll;
}

.PlaylistTitle {
  margin: 1rem;
  vertical-align: middle;
}

.SaveToSpotify {
  background-color: var(--primary);
  padding: 1rem 2rem;
  margin: 1rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 30px;
  transition: all 0.5s;
  vertical-align: middle;
}

.SaveToSpotify:hover,
.SubmitName:hover {
  background-color: var(--accent);
}

.PlaylistNameInput {
  padding: 0.5rem;
  margin: 1rem 2rem 1rem 1rem;
  border: none;
  border-bottom: 2px solid var(--accent);
  outline: none;
  background: none;
  font-size: 1rem;
  color: var(--text);
}

.SubmitName {
  padding: 1rem;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: var(--primary);
  cursor: pointer;
  transition: all 0.5s;
  font-weight: 500;
  font-size: 1rem;
}

.EmptyPlaylist {
  font-size: 1.2rem;
  margin: 2rem;
  color: hsla(135, 20%, 96%, 0.5);
  text-align: center;
}

.SpotifyLogo {
  height: 1.5rem;
  margin-left: 0.5rem;
  vertical-align: middle;
}

@media (max-width: 768px) {
  .SaveToSpotify {
    font-size: 0.9rem;
  }

  .SpotifyLogo {
    height: 1.3rem;
  }
}