header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  align-items: center;
  vertical-align: middle;
  padding: 1rem 2rem;
  /* background-color: var(--header); */
  -webkit-backdrop-filter: saturate(180%) blur(20px); /* Fixes blur for safari */
  backdrop-filter: saturate(180%) blur(20px);
}

.HeaderLogo {
  height: 3rem;
}

.HeaderButton {
  display: none;
}

/* sm */
@media (max-width: 640px) {
  .HeaderButton {
    display: initial;
  }
}
