.Container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  /* Uncomment when working with breakpoints */
  /* border: 1px solid red; */
}

.ResultsPlaylist {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

/* 2xl */
@media (max-width: 1536px) {
  .Container {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .Container {
    max-width: 1024px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .Container {
    max-width: 768px;
  }
}

/* md */
@media (max-width: 768px) {
  .Container {
    max-width: 640px;
  }
}

/* sm */
@media (max-width: 640px) {
  .Container {
    max-width: 475px;
  }
}

/* xs */
@media (max-width: 475px) {
  .Container {
    width: 100%;
  }
}