@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --text: #f3f7f4;
  --background: #040605;
  --primary: #1db945;
  --secondary: #1b6a36;
  --accent: #19a94b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  background-color: var(--background);
  color: var(--text);
}

button {
  border: none;
  padding: none;
  margin: none;
  background: none;
  cursor: pointer;
}

a {
  vertical-align: middle;
}

img {
  vertical-align: middle;
}

h1 {
  font-size: 4.21rem;
}

h2 {
  font-size: 3.158rem;
}

h3 {
  font-size: 2.369rem;
}

h4 {
  font-size: 1.777rem;
}

h5 {
  font-size: 1.333rem;
}

small {
  font-size: 0.75rem;
}

p {
  font-size: 1.5rem;
}
